        <div class="footer navbar-fixed-bottom">
           <div class="text-center"><font size=-1>
             <p>&copy; QGIS Workshop 2012 - <script>document.write(new Date().getFullYear())</script>
             &nbsp; &nbsp;  hosted by: <a href="https://gis.harvard.edu" target="_new" title="Harvard Center for Geographic Analysis">CGA</a></font>
             &nbsp; &nbsp;  author: <a href="http://www.gis.harvard.edu/people/merrick-lex-berman" target="_new">Lex Berman</a></font>
             </p>
           </div>
        </div>